#centered_content {
    text-indent: 0px !important; 
    width: 675px !important;
}

#siteSub {
    display: none !important;
}

#contentSub {
    display: none !important;
}

#jump-to-nav {
    display: none !important;
}

div.noarticletext {
    display: none !important;
}

.fn {
    display: none !important;
}

table.infobox {
    border-collapse: collapse !important;
    width: calc(100% - 206px) !important;
}

table.infobox tr {
    border-bottom: 1px solid #94a4b4 !important;
}

#mw-content-text > a.image img {
    float: right !important;
    margin-left: 25px !important;
    margin-bottom: 5px !important;
}

td a.image img {
    margin-left: initial !important;
    float: initial !important;
    background-color: rgba(235, 230, 226, 1) !important;
    padding: 3px !important;
}

#toc {
    display: none !important;
}

p + p {
    display: none !important;
}

br + p { /*Gravestones*/
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

ol.references {
    max-width: 600px !important;
    word-wrap: break-word !important;
}

div.printfooter {
    display: none !important;
}

#mw-hidden-catlinks {
    display: none !important;
}

blockquote.toccolours {
    font-style: initial !important;
    text-align: initial !important;
    background: initial !important;
}

div.redirectMsg img {
    display: none !important;
}

/*Family trees*/
table[cellspacing='0'] { 
    zoom: 0.6 !important;
}

/*
table strong.selflink {
    background-color: #b29d8e !important;
    display: block !important;
    width: 102% !important;
    height: 100% !important;
    margin-left: -2px !important;
}
*/